<h2>icon.component:</h2>

<p>
  + cách này hiểu bản chất, dễ tùy biến trong mọi hoàn cảnh
  <br />
  + dùng cách này ko cần phải install Material Component và Material Theme
  <br />
  + chỉ cần add CSS vào index.html là ok. xem Link dưới:
</p>

<a href="https://www.w3schools.com/icons/google_icons_intro.asp"
  >https://www.w3schools.com/icons/google_icons_intro.asp</a
>
<br />
<a href="https://fonts.google.com/icons?selected=Material+Icons&icon.query=+folder"
  >https://fonts.google.com/icons?selected=Material+Icons&icon.query=+folder</a
>

<div>
  <button><span class="material-icons"> folder </span> folder</button>

  <!-- dùng cái này: Browser Debug F12 sẽ hiểu -->
  <!-- phải để text trong span thì mới căn giữa Vertical center-->
  <!-- phải để text trong span, div thì mới điều chỉnh position đc -->
  <button>
    <span class="material-icons" style="color: blue"> folder </span>
    <span>folder</span>
  </button>

  <!-- dùng span và 'i' là như nhau. Nhưng 'i' ngắn hơn -->
  <button>
    <i class="material-icons" style="color: blueviolet"> folder </i>
    <span>folder</span>
  </button>

  <button>
    <span class="material-icons" style="color: blue; font-size: 48px"> folder </span>
    <span>folder</span>
  </button>
</div>

<p style="color: blue">lỗi vertical center:</p>
<div>
  <button class="item">
    <i class="material-icons" style="color: blueviolet"> chevron_right </i>
    <i class="material-icons" style="color: blueviolet"> folder </i>
    <span>folder</span>
  </button>
</div>

<p style="color: blue">Center vertical với outer/inner CSS:</p>
<div>
  <button class="item outer-vertical-center">
    <i class="material-icons" style="color: blueviolet"> chevron_right </i>
    <i class="material-icons" style="color: blueviolet"> folder </i>
    <span>folder</span>
  </button>
</div>

<p style="color: blue">
  +Nếu gặp vấn đề chỉ cần đưa về div, thêm div vào là có thể giải quyết đc hết:
  <br />
  + flex có thể giảm CSS size nên tận dụng.
</p>
<div
  style="height: 100px; width: 100%; background-color: greenyellow"
  class="outer-vertical-center"
>
  <div style="height: 40px; width: 40px; background-color: blue">abc</div>
  <div style="height: 20px; width: 20px; background-color: yellow">kkk</div>
  <div style="height: 60px; width: 60px; background-color: aqua">kkk</div>
</div>
