button {
  font-family: Arial;
  // background-color: #42a948;
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin: 15px;
}
button:hover {
  opacity: 0.8;
}
button:disabled {
  // background-color: #eee;
  color: #aaa;
  cursor: auto;
}

//======================================================
// cả text và icon ta đều để trong span để vertical center
span {
  vertical-align: middle; // để text và icon ở giữa Button
  // vertical-align: -5px;   //điều chỉnh giá trị này
}

i {
  vertical-align: middle; // để text và icon ở giữa Button
  // vertical-align: -5px;   //điều chỉnh giá trị này
}

// cần CSS này cho Parent Tag để các child tag vertical center
// Flex là cho Parent tag (tất cả child sẽ là float left)
.outer-vertical-center {
  display: flex;
  align-items: center;
}

// cần CSS này cho child tag của outer
// i, span: đã khai báo rồi
.inner-vertical-center {
  vertical-align: middle; // để text và icon ở giữa Button
}

button.item {
  font-family: Arial;
  text-align: left;
  background-color: gainsboro;
  border: none;
  cursor: pointer;
  cursor: hand;
  height: 40px;
  width: 100%;
}

button.item:hover {
  background-color: yellow;
}

button.item:focus {
  background-color: greenyellow;
}
